
body{
    background-repeat: no-repeat;
    background-size:cover;
    
  }
  .heading h2{
    text-align: center;
    margin: 2%;
    color: teal;
  }
  .container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .container .form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2% 5%;
    width: 60%;

  }

  /* Style for submit buttons */
button[type="submit"] {
  /* Button background color */
  background-color:grey;
  margin: 2%;
  width: 40%;
  /* Button text color */
  color: white;
  
  /* Button padding */
  padding: 10px 20px;
  
  /* Button border */
  border: none;
  border-radius: 4px;
  
  /* Button hover effect */
  cursor: pointer;
  transition: background-color 0.3s;
}




   