body{
  margin: 0;
  
}
.nav {
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #7e8c9c;
  padding: 0.5%;
}

.nav .im {
  float: left;
  width: 40vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.nav .im img {
  max-width: 80%;
  height: auto;
}

.nav .li {
  width: 50vw;
  float: right;
}

.act {
  background-color: teal;
}

.nact:hover {
  background-color: teal;
}

.nav .li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav .li ul li {
  display: inline-block;
  margin: 2%;
  padding: 1%;
}

.nav .li ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-decoration: none;
  font-size: 1.4vw;
}

@media screen and (max-width: 1200px) {

  .nav .li ul li a {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 1000px) {

  .nav .li ul li a {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 800px) {

  .nav .li ul li a {
    font-size: 2vw;
  }

}

@media screen and (max-width: 600px) {


  .nav .li ul li a {
    font-size: 2.1vw;
  }

}
.grid-container{
  border: 2px solid black;
  padding: 3%;
  margin: 2% 22%;
  display: flex;
}
.text{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text img{
  width: 50vw;
  height: auto;
  align-items: center;
  justify-content: center;
}
.text h2{
  color: teal;
  margin: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: 1.8vw;
}
.mb-4 a:hover{
  background-color: teal;
}

